#firma {color: #000301; padding-bottom: 40px;
}
#naslov {text-align: center; margin: 40px; font-size: 3.5rem; font-weight: 300; line-height: 1.2;
}
#podnaslov {text-align: center; font-size: 1.25rem; font-weight: 300; margin-top: 0; margin-bottom: 1rem;
}
